<%= form_with model: @genre, class: "space-y-6" do |form| %>
  <% if @genre.errors.any? %>
    <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md">
      <h2><%= pluralize(@genre.errors.count, "error") %> prohibited this genre from being saved:</h2>
      <ul class="list-disc list-inside">
        <% @genre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :name, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500" %>
  </div>

  <div class="flex gap-2">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium cursor-pointer" %>
    <%= link_to "Cancel", genres_path, class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium" %>
  </div>
<% end %>
