<%= form_with(model: user, class: "contents") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul class="list-disc ml-6">
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :email_address, "Email", class: "block font-medium text-gray-700" %>
    <%= form.email_field :email_address, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": user.errors[:email_address].none?, "border-red-400 focus:outline-red-600": user.errors[:email_address].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :password, user.persisted? ? "Password (leave blank to keep unchanged)" : "Password", class: "block font-medium text-gray-700" %>
    <%= form.password_field :password, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full focus:outline-blue-600", autocomplete: "new-password" %>
  </div>

  <% unless user.persisted? %>
    <div class="my-5">
      <%= form.label :password_confirmation, "Confirm Password", class: "block font-medium text-gray-700" %>
      <%= form.password_field :password_confirmation, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full focus:outline-blue-600", autocomplete: "new-password" %>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :role, class: "block font-medium text-gray-700" %>
    <%= form.select :role, User.roles.keys.map { |r| [r.capitalize, r] }, {}, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full focus:outline-blue-600" %>
  </div>

  <div class="my-5">
    <%= form.label :timezone, "Timezone", class: "block font-medium text-gray-700" %>
    <%= form.time_zone_select :timezone, ActiveSupport::TimeZone.all, { selected: user.timezone.presence || "America/Los_Angeles" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full focus:outline-blue-600" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
