 <div data-controller="modal">
  <!-- Menu Section -->
  <nav class="bg-gray-800 text-white py-3">
    <div class="max-w-7xl mx-auto px-4 flex space-x-6">
      <%= link_to "Now Playing", now_playing_path, class: "hover:text-blue-400" %>
      <%= link_to "Record Collection", record_collection_path, class: "hover:text-blue-400" %>
      <%= link_to "CD Collection", cd_collection_path, class: "hover:text-blue-400" %> 
      <%# <%= link_to "Artists", media_owners_path, class: "hover:text-blue-400" %> 
      
      <%= link_to "Media Types", media_types_path, class: "hover:text-blue-400" %>
      <%= link_to "Media Items", media_items_path, class: "hover:text-blue-400" %>
      <%= link_to "Album/CD Locations", locations_path, class: "hover:text-blue-400" %>
      <%= link_to "Search Discogs", discogs_path, class: "hover:text-blue-400" %>
      
      <%# <a href="#" class="hover:text-blue-400">Contact</a> %>
      <% if authenticated? %>
          <%#= Current.session %>

          <!--<a href="#"><%= Current.user.email_address %></a>-->
          <%= button_to 'Sign out', session_path, method: :delete %>
        <% else %>
          <button data-action="modal#show"
                class="hover:text-blue-400 bg-transparent border-none cursor-pointer">Sign in</button>
        <% end %>
    </div>
  </nav>

  <% content_for :modals do %>
    <%= render partial: 'shared/auth_modal' %>
  <% end %>
</div>